:root {
    --bg-dark: #070a13;
    --panel-bg: #0f172a;
    --accent-cyan: #38bdf8;
    --accent-purple: #c084fc;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
}